@{
    ViewBag.Title = "Informationen";
    ViewBag.Title1 = "Modul 183";
    ViewBag.Title2 = "Auftrag";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Title1</h3>

<p>Applikationen sicher planen, entwickeln und in Betrieb nehmen.</p>
<strong>Handlungsziele:</strong><br />
<ol>
    <li>Aktuelle Bedrohungen erkennen und erläutern können. Aktuelle Informationen zum Thema (Erkennung und Gegenmassnahmen) beschaffen und mögliche Auswirkungen aufzeigen und erklären können. </li>
    <li>Sicherheitslücken und ihre Ursachen in einer Applikation erkennen  können. Gegenmassnahmen vorschlagen und implementieren können.</li>
    <li>Mechanismen  für die Authentifizierung und Autorisierung umsetzen können.</li>
    <li>Sicherheitsrelevante Aspekte bei Entwurf, Implementierung und Inbetriebnahme berücksichtigen.</li>
    <li>Informationen für Auditing und Logging generieren. Auswertungen und Alarme definieren und implementieren.</li>
</ol>