@{
    ViewBag.Title = "Kontakt";
    ViewBag.Message = "Wir helfen Ihnen sehr gerne!";
    ViewBag.Title1 = "Schüler:";
    ViewBag.Title2 = "Adresse:";
}

<h2>@ViewBag.Title</h2>
<br />

<address>
    <h4>@ViewBag.Title1</h4>
    <strong>Marc Chardonnens:</strong><br />
    <a href="mailto:marcchardonnens1@gmail.com">marcchardonnens1@gmail.com</a><br />
    <strong>Nikolina Drobnjak:</strong>
    <br />
    <a href="mailto:n.drobnjaknd@gmail.com">n.drobnjaknd@gmail.com</a><br />
    <strong>Deborah Senn:</strong>
    <br />
    <a href="mailto:giesende11@gmail.com">giesende11@gmail.com</a>
    <br />
</address>
<br />
<address>
    <h4>@ViewBag.Title2</h4>
    GIBZ<br />
    Baarerstrasse 100, 6300 Zug<br />
    <abbr title="">Telefon:</abbr>
    041 728 30 30
</address>
<br />
<h3>@ViewBag.Message</h3>