################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OTPExcercises/M183VSProjects.VC.VC.opendb
/OTPExcercises/M183VSProjects.VC.db
