################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OTPExcercises/M183VSProjects.VC.VC.opendb
/OTPExcercises/M183VSProjects.VC.db
/M183Solution/M183/packages/GoogleAuthenticator.1.2.1/lib/net45/Google.Authenticator.dll
/M183Solution/M183/packages/GoogleAuthenticator.1.2.1/lib/net40/Google.Authenticator.dll
/M183Solution/M183/packages/GoogleAuthenticator.1.2.1/lib/net35/Google.Authenticator.dll
/M183Solution/M183/packages/GoogleAuthenticator.1.2.1/GoogleAuthenticator.1.2.1.nupkg
/M183Solution/M183/packages/GoogleAuthenticator.1.2.1/.signature.p7s
/M183Solution/M183/M183/obj/Debug/M183.Migrations.Init.resources
/M183Solution/M183/M183/obj/Debug/M183.Migrations.addedUserSecrect2.resources
/M183Solution/M183/M183/obj/Debug/M183.Migrations.addedUserSecrect1.resources
/M183Solution/M183/M183/obj/Debug/M183.Migrations.addedUserSecrect.resources
/M183Solution/M183/M183/bin/Google.Authenticator.dll
/M183Solution/M183/M183/obj/Debug/M183.csproj.GenerateResource.Cache
