
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @Model.Email
    <div>
        <label>email</label>
        <input type="email" name="email" />

        <label>password</label>
        <input type="password" name="pasword" />
    </div>
</body>
</html>
